<header>
    <h2>Covid-19 Statistics</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allCountries">All Countries</a></li>
        <li><a href="/myRecords">My Records</a></li>
    </ul>
</header>